<div class="form-container">
  <h2>{{ isEdit ? 'Editar' : 'Nuevo' }} Empleado</h2>

  <form (ngSubmit)="guardarEmpleado()">
    <div class="form-group">
      <label>Nombre</label>
      <input type="text" [(ngModel)]="empleado.nombre" name="nombre" required>
    </div>

    <div class="form-group">
      <label>Cargo</label>
      <input class="input-animated" placeholder="Cargo" type="text" [(ngModel)]="empleado.cargo" name="cargo" required>
    </div>

    <div class="form-group">
      <label>Salario</label>
      <input type="number" [(ngModel)]="empleado.salario" name="salario" required>
    </div>

    <div class="button-group">
      <button type="submit" class="btn-primary">Guardar</button>
      <button type="button" class="btn-secondary" routerLink="/empleados">Cancelar</button>
    </div>

    
  </form>
</div>

  