.breadcrumb-container {
    font-size: 14px;
    margin: 10px 0;
  }
  
  .breadcrumb-container a {
    text-decoration: none;
    color: #007bff;
  }
  
  .breadcrumb-container span {
    color: #555;
  }
  
  .breadcrumb-container a:hover {
    text-decoration: underline;
  }
  